{% extends 'base.html' %}
{% load staticfiles %}
{% block main_content %}
    <section class="main_content">
        <div class="col-vc-7">
            <div>
                <h1>Hello World!</h1>
                <h3>My first message</h3>
                <p>This is my first post on this site. I believe in small beginnings and I believe in happy ever afters.
                    This represents but a tiny thought to my thoughts. I wouldn't say am talkative but I sure do love to read and
                write and to share too. I will be sharing whatever titbits I can. I have grown and as I master some craft here and there
                I also hope to share the same!<br><br>

                Walk along with me in this path I have chosen.</p>
            </div>
            <!--<div>-->
                <!--<h1>Hello World!</h1>-->
                <!--<h3>My first message</h3>-->
                <!--<p>This is my first post on this site. I believe in small beginnings and I believe in happy ever afters.-->
                    <!--This represents but a tiny thought to my thoughts. I wouldn't say am talkative but I sure do love to read and-->
                <!--write and to share too. I will be sharing whatever titbits I can. I have grown and as I master some craft here and there-->
                <!--I also hope to share the same!<br><br>-->

                <!--Walk along with me in this path I have chosen.</p>-->
            <!--</div>-->
        </div>
        <div class="col-vc-3">
            <!--Summary of content will appear here-->
        </div>
    </section>
    <div>

    </div>
{% endblock main_content %}