{% extends 'base.html' %}
{% load staticfiles %}
{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/journey.css' %}">
    <!-- About -->
    <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">About</h2>
              <h3 class="section-subheading text-muted">An outline of my journey to where I am today</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul class="timeline">
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>May 2017 - November 2017</h4>
                      <h4 class="subheading">Moringa School</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">I had the God given chance of being a part of Moringa School, a world-class software developer accelerator based in Nairobi, Kenya. I learnt the JavaScript frameworks of Angular and Ember, Java and the android framework and frontend libraries such as Bootstrap and JQuery.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>September 2016 - April 2017</h4>
                      <h4 class="subheading">Geospatial Research International</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">As a <strong>GIS Assistant</strong>, I had the opportunity to practice my GIS knowledge and serve the people of Kenya. We travelled across the country to various Water Service Providers while mapping their coverage areas. <strong>Water is a right!!</strong></p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>June 2016 - September 2016</h4>
                      <h4 class="subheading">Rwathia Distributors LTD, Kiewa Group LTD and Viatech Services LTD (Consortium) (RKV)</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">As a <strong>GIS Technician</strong>, I participated in the Last Mile electrical connection project by providing useful map information that was used for the basis of design of the network distribution and estimating project costs. </p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>May 2016 - December 2017</h4>
                      <h4 class="subheading">Jomo Kenyatta University of Agriculture and Technology</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Took my BSC in Geomatic Engineering covering units in Land Surveying and Geospatial Information Systems.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <h4>Be Part
                      <br>Of My
                      <br>Story!</h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
{% endblock main_content %}